.faq {
    margin: auto;
    padding-inline: 15rem;

    .container {
        width: 100%;
    }

    .faq-list {
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .item {
        overflow: hidden;
        padding: 0;

        .question {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 25px;
            padding-right: 20px;
            cursor: pointer;
            text-align: start;
            font-size: 18px;
            font-weight: 600;
        }

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .answer {
            overflow: hidden;
            border-top: 1px solid var(--border);

            p {
                margin: 0;
                padding: 25px;
                line-height: 1.75;
            }
        }
    }
}

@media (max-width: 768px) {
    .faq {
        width: 90%;

        .item {
            .question {
                font-size: 14px;
                padding: 20px;
            }

            .answer {
                p {
                    padding: 20px;
                    font-size: 13px;
                }
            }
        }
    }
}