.about-snippet {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;

    .img-box {
        img {
            border-radius: var(--radius-lg);
            filter: grayscale(1);
            box-shadow: var(--shadow-md);
        }
    }

    .text {
        h1 {
            margin-bottom: 1rem;
        }

        p {
            margin-bottom: .8rem;
        }

        button {
            margin-top: 1.5rem;
        }
    }
}

@media (max-width: 480px) {
    .about-snippet {
        flex-direction: column;
        gap: 2rem;
        padding: 2.5rem;

        .img-box {
            img {
                width: 85vw;
                height: auto;
                aspect-ratio: 1;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}