.contribute.page {
    margin-top: 0;

    .notice {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: 3rem auto 5rem;
        width: 90%;
        padding: 1.7rem 3rem;

        .icon {
            height: 60px;
            aspect-ratio: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background: #16a34a1a;
            color: var(--primary);
            margin-inline-end: 1rem;

            svg {
                width: 30px;
                height: 30px;
            }
        }

        .text {
            h2 {
                margin-bottom: .6rem;
            }
        }

        .btn {
            margin-inline-start: auto;
            min-width: max-content;
            padding: .6rem 1.6rem;
        }
    }


    .forms {
        padding-inline: 18rem;
        margin: 5rem 0;

        .tabs {
            display: flex;
            background: var(--border);
            width: fit-content;
            border-radius: 16px;
            overflow: hidden;
            padding: 6px;
            margin: 0 auto 4rem;

            .tab {
                position: relative;
                color: var(--muted-fg);
                border-radius: 12px;
                padding: 12px 30px;
                font-weight: 500;
                cursor: pointer;
                text-decoration: none;
                border: none;
                background: transparent;
                font-family: inherit;
                font-size: inherit;

                .tab-label {
                    position: relative;
                    z-index: 2;
                    display: flex;
                    align-items: center;
                    gap: 0.4rem;
                }

                .active-bg {
                    position: absolute;
                    inset: 0;
                    background: var(--bg);
                    border-radius: 12px;
                    box-shadow: var(--shadow-md);
                    z-index: 1;
                }

                &.active {
                    color: var(--foreground);
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .contribute.page {
        .notice {
            padding: 1rem;
            flex-direction: column;
            text-align: center;
            margin: 2rem 0;
            width: 100%;

            .icon {
                margin-inline-end: 0;
            }

            .btn {
                margin-inline-start: 0;
                margin-top: 1rem;
            }
        }

        .forms {
            padding-inline: 0;

            .tabs {
                margin-bottom: 2rem;
                .tab {
                    padding: 10px 15px;
                    font-size: 0.875rem;
                }
            }

            .card{
                padding: 1rem;
            }
        }
    }
}