.status-cards {
    position: relative;
    z-index: 5;
    display: flex;
    margin-top: -3.5rem;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 100%;

    .card {
        display: flex;
        width: 20%;
        align-items: center;
        gap: 2rem;

        .icon {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            background: var(--primary);
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                width: 2rem;
                height: 2rem;
                color: var(--primary-fg);
            }
        }

        .text {
            text-align: start;

            b {
                font-size: 1.5rem;
                font-weight: 700;
                color: var(--fg);
                margin-bottom: .25rem;
            }

            p {
                font-size: .9rem;
                color: var(--muted-fg);
            }
        }
    }
}