:root {
  /* Core Colors */
  --bg: #ffffff;
  --bg-secondary: #f7f7f7;
  --fg: #171717;

  /* Brand Colors */
  --primary: #16a34a;
  --primary-fg: #ffffff;

  /* UI Elements */
  --border: #e5e7eb;
  --input: #e5e7eb;
  --ring: var(--primary);

  /* Muted / Secondary */
  --muted: #f3f4f6;
  --muted-fg: #6b7280;
  --secondary: #f3f4f6;
  --secondary-fg: #111827;

  /* Accents */
  --accent: #e5e7eb;
  --accent-fg: #000000;

  /* Semantic */
  --destructive: #ef4444;
  --destructive-fg: #ffffff;

  /* Shadows & Radius */
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -2px rgb(0 0 0 / 0.1);
  --radius: 0.5rem;
  --radius-lg: 1rem;

  /* Fonts */
  --font-ibm-plex-sans-arabic: var(--font-ibm-plex-sans-arabic);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: var(--font-ibm-plex-sans-arabic), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  color: var(--muted-fg);
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
}

/* Page Styles */
.page {
  padding: 2rem;

  .title {
    font-size: 2.25rem;
    font-weight: 700;
  }

  .description {
    margin-top: 1rem;
    font-size: 1.25rem;
  }
}

.container {
  margin: 0 auto;
  padding-inline: 15rem;
}

section {
  padding: 5rem 0;

}

.section-title {
  text-align: center;
  margin-bottom: 3rem;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 3px;
    background-color: var(--primary);
  }
}

/* Reusable Classes */
.glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.btn {
  padding: 0.5rem 1rem;
  border: 2px solid var(--primary);
  border-radius: var(--radius);
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s ease;

  &.primary {
    background: var(--primary);
    color: var(--primary-fg);
  }

  &.secondary {
    border-color: var(--secondary);
  }

}

.card {
  border-radius: var(--radius-lg);
  padding: 1.25rem;
  background: var(--bg);
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
  transition: all 0.3s ease;

  &:hover {
    box-shadow: var(--shadow-lg);
    transform: translateY(-.5rem);
  }
}